@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  background: #6888b1;
}

#header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

#header .header-nav .header-ul {
  display: inline-flex;
  gap: 50px;
}

#header .header-nav .header-ul .header-li .header-a {
  color: #fff;
  font-size: clamp(14px, 2vw, 33px);
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Ubuntu";
}

#header .header-nav .icons {
  color: #fff;
  font-size: 40px;
  display: none;
}

.header-content {
  color: #fff;
  width: 100%;
  max-width: 800px;
  padding: 50px 0;
  margin: 0 auto;
}

.header-content h1 {
  font-size: clamp(40px, 6vw, 100px);
  font-weight: 700;
  font-family: "Ubuntu";
  text-align: center;
}

.header-content p {
  font-size: clamp(14px, 2vw, 33px);
  font-weight: 400;
  font-family: "Ubuntu";
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

#card-section {
  background: #e0edc1;
  padding: 40px 0;
}

#card-section h2 {
  text-align: center;
  font-size: clamp(20px, 4vw, 48px);
  text-transform: uppercase;
  color: #7287ae;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 25px 0;
}

#card-section .row {
  display: flex;
  justify-content: space-around;
}

#card-section .col {
  width: 33.33%;
  max-width: 30%;
  background-color: #fff;
}

#card-section .card-img img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: clamp(14px, 4vw, 33px);
  color: #504f4f;
  font-weight: 700;
  font-family: "Ubuntu";
}

.card-content p {
  font-size: clamp(12px, 2vw, 25px);
  color: #504f4f;
  font-weight: 400;
  font-family: "Lato";
  padding: 10px 0;
}

.card-content span {
  font-size: clamp(14px, 2vw, 28px);
  letter-spacing: 2px;
  color: #565656;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 8px 0;
}

.card-btn {
  text-align: center;
  margin-top: 70px;
  padding: 20px 0;
}
.card-btn button {
  border: none;
  padding: 8px 50px;
  background-color: #6888b1;
  border-radius: 25px;
}

.card-btn button a {
  font-size: clamp(14px, 2vw, 28px);
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
  font-family: "Ubuntu";
  text-transform: uppercase;
}

#discount-section .row {
  display: flex;
}

#discount-section .col {
  width: 50%;
}

.right-part {
  margin: 70px 0;
  text-align: left;
  padding: 40px;
  /* width: 40%; */
}

#discount-section .col h1 {
  font-size: clamp(18px, 6vw, 58px);
  color: #333333;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 20px 0;
  width: 80%;
}

#discount-section .col p {
  font-size: clamp(14px, 2vw, 29px);
  color: #333333;
  font-weight: 400;
  font-family: "Lato";
}

.discount-btn {
  text-align: left;
  margin-top: 10px;
}

#offer-section .row {
  display: flex;
}

#offer-section .col {
  width: 50%;
}

img {
  
  object-fit: cover;
  display: block;
}

.left-part {
  padding-left: 80px;
  margin: 80px 0;
}

.left-part h1 {
  font-size: clamp(18px, 6vw, 58px);
  color: #333333;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 20px 0;
  width: 80%;
}

.left-part p {
  font-size: clamp(14px, 2vw, 29px);
  color: #333333;
  font-weight: 400;
  font-family: "Lato";
  width: 80%;
}

/* order section */

#order-section {
  background: #6888b1;
  color: #fff;
  padding: 40px 0;
}

#order-section h1 {
  text-align: center;
  font-size: clamp(18px, 6vw, 48px);
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 30px 0;
}

#order-section .row {
  display: flex;
  gap: 40px;
  padding: 30px 0;
}

#order-section .col {
  width: 33.33%;
  text-align: center;
  padding: 30px 0;
}

#order-section .col span {
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: clamp(16px, 2vw, 48px);
  color: #7287ae;
  font-weight: 700;
  font-family: "Ubuntu";
  margin: 15px 0;
}

#order-section .col h2 {
  font-size: clamp(16px, 4vw, 46px);
  color: #ffffff;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 30px 0;
}

#order-section .col p {
  font-size: clamp(12px, 2vw, 19px);
  font-weight: 400;
  font-family: "Lato";
  /* width: 90%; */
}

/* voucher section */

#voucher-section {
  background: url(/Images/voucher-img.png);
  background-size: 100% 100%;
  text-align: center;
  padding: 40px 0;
}

#voucher-section h1 {
  text-align: center;
  font-size: clamp(18px, 6vw, 48px);
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Ubuntu";
  padding: 30px 0;
  color: #6888b1;
}

#voucher-section p {
  font-size: clamp(12px, 2vw, 29px);
  color: #7287ae;
  font-weight: 400;
  font-family: "Ubuntu";
  width: 60%;
  /* text-align: center; */
  margin: 0 auto;
}

/* waiter section */

#waiter-section {
  background: #e0edc1;
  padding: 70px 0;
}

#waiter-section img {
  width: 60px;
}

.waiter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 30px;
  padding: 40px 0;
}

.waiter-content p {
  font-size: clamp(12px, 2vw, 29px);
  color: #7287ae;
  font-weight: 400;
  font-family: "Ubuntu";
  width: 70%;
  text-align: center;
}
.waiter-content h2 {
  font-size: clamp(16px, 4vw, 42px);
  color: #7287ae;
  font-weight: 700;
  font-family: "Ubuntu";
}

/* footer */

#footer {
  background: #6888b1;
  padding: 70px 0;
  color: #fff;
}

#footer .row {
  display: flex;
}

#footer .col4 {
  width: 40%;
}

#footer .col6 {
  width: 60%;
}

#footer .col6 .col {
  width: 33.33%;
}

#footer h2 {
  font-size: clamp(14px, 4vw, 25px);
  font-weight: 600;
  font-family: "Lato";
}

#footer .col4 p {
  font-size: clamp(14px, 4vw, 20px);
  font-family: "Lato";
  width: 80%;
  padding: 15px 0;
}

#footer .col ul {
  padding: 15px 0;
}

#footer .col ul li {
  font-size: clamp(14px, 4vw, 20px);
  font-family: "Lato";
  padding: 5px 0;
}